@{
    ViewBag.Title = "Number Converter";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Number Converter</div>
        <div class="panel-body">
            <div class="form-group">
                <input type="text" id="uxNumber" class="form-control" />
                <button id="uxSubmit" class="btn btn-primary">Convert</button>
            </div>
        </div>
    </div>

    <div id="uxOutput" class="hide alert alert-success">

    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#uxSubmit').click(function (e) {
            var number = $('#uxNumber').val();
            var url = '@Url.Action("ConvertNubmer")';
            $.ajax({
                type: 'POST',
                url: url,
                data: number
            }).done(function (data) {

            });
        });

    });

</script>